.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-color: #0f172a;
    overflow: hidden;
    pointer-events: none;
}

.blobs {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(80px);
}

.blob {
    position: absolute;
    border-radius: 50%;
    animation: float 20s infinite ease-in-out;
    opacity: 0.6;
}

.blob1 {
    width: 600px;
    height: 600px;
    background-color: #3b82f6;
    /* blue-500 */
    top: -100px;
    left: -100px;
    animation-delay: 0s;
}

.blob2 {
    width: 500px;
    height: 500px;
    background-color: #8b5cf6;
    /* violet-500 */
    bottom: -50px;
    right: -50px;
    animation-delay: -5s;
}

.blob3 {
    width: 300px;
    height: 300px;
    background-color: #06b6d4;
    /* cyan-500 */
    top: 40%;
    left: 30%;
    animation-delay: -10s;
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Mesh/Grid pattern overlay */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
}